name: Generate Predictions

on:
  workflow_call:
    inputs:
      days:
        description: 'Number of days to predict'
        required: true
        type: number
      upload:
        description: 'Upload predictions to database'
        required: false
        type: boolean
        default: true
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true
      AWS_ENDPOINT_URL_S3:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      BUCKET_NAME:
        required: true

jobs:
  predict:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "latest"

    - name: Install dependencies
      run: uv sync

    - name: Run predictions
      env:
        CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        AWS_ENDPOINT_URL_S3: ${{ secrets.AWS_ENDPOINT_URL_S3 }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
      run: |
        uv run predict.py --db wizz-aycf --bucket $BUCKET_NAME --days ${{ inputs.days }} ${{ inputs.upload && '--upload' || '' }}

